[user]
  name = Sumeet Pareek
  email = "(none)"

[web]
  browser = ff
[browser "ff"]
  cmd = open -a Firefox.app

[core]
  editor = vi
  excludesfile = ~/.gitignore
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto